*{margin: 0; padding: 0; box-sizing: border-box;}
.head{height: 80px; border-bottom: 1px solid rgba(14, 14, 14, 0.60); width: 100%; position: fixed; background-color: white;  z-index: 10;}
i{color: rgba(26, 24, 24, 0.60);}
.head ul li{list-style: none; display: inline;}
.dp{background-color: brown; padding: 5px;}

.rig-data {
    float: right;
    margin-top: 30px;

    font-size: 25px;
}
.rig-data li {
    margin-right: 25px;
    

}
.dp {
    background-color: brown;
    padding: 10px 26px;
    border-radius: 50%;
}

.search {
    width: 42%;
    height: 50px;

    position: absolute;
    left: 393px;

    top: 14px;

    padding-left: 12px;

    font-size: 19px;
    border: 1px solid;
    
}

.search2 {
    font-size: 24px;
    position: absolute;
    top: 15px;
    left: 876px;
    color: rgba(14, 14, 14, 0.60);
    background-color: silver;
    padding: 12px 29px;
    border-left: 1px solid black;
}

.mice {
    position: absolute;
    right: 329px;
    top: 13px;
    font-size: 26px;
    color: rgba(14, 14, 14, 0.60);
    background-color: silver;
    padding: 12px 15px;
    border-radius: 50%;
}
.bars {
    font-size: 29px;
    margin-left: 28px;
    margin-top: 24px;
}

.lef-nav {
    width: 15%;
    height: 588px;
    background-color: rgba(233, 229, 229, 0.5);
    float: left;
    border-top: 1px solid white;
    margin-top: 78px;
    overflow: auto;
    scroll-behavior: smooth;
    position: fixed;
}

.first-nav {
    width: 100%;
    height: 180px;
    text-align: left;
    padding-top: 27px;
    font-size: 20px;
    font-family: sans-serif;
    border-bottom: 1px solid silver;
}

.first-nav li {
    margin-bottom: -3px;
    padding-left: 3px;
    font-family: system-ui;
    padding: 10px 1px;
    cursor: pointer;
}

.first-nav li:hover{background-color: silver;}

.second-nav{ height: 351px;}

.second-nav li {
    margin-bottom: 4px;
}

.youtube {
    color: red;
    font-size: 33px;
    margin-left: 35px;
}

.youtube2 {
    font-size: 27px;
    font-family: fantasy;
}


.vid-row-1 {
    position: relative;
    top: 96px;
}


.vid-row-1 li {
    list-style: none;
    display: inline;
  
    height: 294px;
    width: 261px;
    float: right;
    margin-top: 22px;
    margin-right: 21px;
    border: 1px solid silver;
    cursor: pointer;
}

h4 {
    font-size: 17px;
    font-family: -webkit-pictograph;
    margin-top: 10px;
    margin-left: 9px;
    line-height: 17px;
    margin-bottom: 8px;
}

h5 {
    font-size: 13px;
    font-family: -webkit-pictograph;
    margin-left: 7.9px;
    text-align: justify;
    line-height: 12px;
    margin-right: 19px;
}

video {
    margin-top: -12px;
}
.video-2 {
    margin-top: 0px;
}